.custom-shape-divider-bottom-1733578414 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-bottom-1733578414 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 184px;
}

.custom-shape-divider-bottom-1733578414 .shape-fill {
    fill: #3A0018;
}
.custom-shape-divider-top-1733580032 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1733580032 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 184px;
}