@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities{
  .divider-top{
    @apply absolute top-0 left-0 w-full overflow-hidden leading-[0]
  }

  .divider-bottom{
    @apply absolute bottom-0 left-0 w-full overflow-hidden leading-[0]
  }
}

.divider-164 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 103px;
}

.divider-140 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 184px;
}

.divider-130 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 184px;
}

.custom-shape-divider-bottom-1733558555 .shape-fill {
  fill: #FFE2C5;
}

.custom-shape-divider-top-1733581031 .shape-fill {
  fill: #3A0018;
}